{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock head %}

{% block content %}

<div class="emails">
    {% for email in emails %}
        <div class="email">
            <a href="{% url 'email_detail' email.id %}">{{email}}</a>
        </div>
    {% endfor %}
    <div class="add_button">
        <a class="btn btn-outline-primary fw-bold" href="" role="button">E-posta Ekle</a>
    </div>
</div>

{% endblock content %}