{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'passwords/css/email_detail.css' %}">
{% endblock head %}


{% block content %}
<div class="title">
    <h5>Email: {{email}}</h5>
</div>
<div class="detail">
<table>
    <tr>
        <th>Website</th>
        <th>Password</th>
        <th>Password Old</th>
        <th>Username</th>
        <th>Extra Info</th>
    </tr>
{% for x in passwords %}
    <tr>
        <td><a href="{% url 'password_update' x.id %}">{{x.website}}</a></td>
        <td>{{x.password}}</td>
        <td>{{x.password_old}}</td>
        <td>{{x.username}}</td>
        <td>{{x.extra_info}}</td>
    </tr>
{% endfor %}
</table>
<div class="bttn">
    <a class="btn btn-outline-primary fw-bold" href="{% url 'password_add' email_id %}" role="button">Yeni Kayıt Ekle</a>
</div>
</div>


{% endblock content %}
