{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'passwords/css/password_add.css' %}">
{% endblock head %}

{% block content %}
<div class="title">
    <h5>Email: {{email}}</h5>
</div>
<div class="password">
    <form class="password_add fw-bold" action="" method="POST">
        {% csrf_token %}
        <div id="website" class="form-group">
            {{form.website|as_crispy_field}}
        </div>
        <div id="password" class="form-group">
            {{form.password|as_crispy_field}}
        </div>
        <div id="password_old" class="form-group">
            {{form.password_old|as_crispy_field}}
        </div>
        <div id="username" class="form-group">
            {{form.username|as_crispy_field}}
        </div>
        <div id="extra_info" class="form-group">
            {{form.extra_info|as_crispy_field}}
        </div>
        <div id="bttn">
            <button id="btn" class="btn btn-outline-primary fw-bold" type="submit">Kaydet</button>
        </div>
    </form>
</div>
<div class="rpg">
    <h5>Random Password Generater</h5>
    <input type="text" name="" placeholder="Create password" id="password1" readonly>
    <table>
        <th><div id="button" class="btn1" onclick="genPassword()">Generate</div></th>
     </table>
</div>

<script src="{% static 'passwords/js/rpg.js' %}"></script>
{% endblock content %}